.filter-img {
  display: block;
  margin: 0 auto;
  padding-bottom: 1%;
  width: 65px;
}

.label-title {
  font-size: large;
  margin-bottom: 10%;
  max-width: 100% !important;
  width: 100% !important;
  color: #153670;
  font-weight: bold;
  text-align: center;
}

.filter {
  color: #153670;
  font-size: large;
}

.filter-select {
  background-color: #e9eeef;
  border-radius: 3px;
  color: #5e5e5e;
  font-size: small;
  max-width: 65%;
  width: 65%;
}

.filter-select-state {
  background-color: #e9eeef;
  border-radius: 3px;
  color: #5e5e5e;
  font-size: small;
  margin-left: -8px;
  max-width: 25% !important;
  width: 25%;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  // float: left;
  margin-top: 5%;
  width: 100%;
}

.label {
  color: #153670 !important;
  font-size: medium;
  font-weight: bold;
  max-width: 35%;
  width: 35%;
  text-align: right;
}

.label-color {
  color: #153670;
  font-size: medium;
  max-width: 35%;
  width: 35%;
}

.label-subtitle {
  color: #153670;
  font-size: medium;
  margin-top: 7%;
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin: 30px 0px;
}

.filter-button {
  border-radius: 7px;
  display: block;
  font-size: medium;
  margin: 0 auto !important;
  position: absolute;
  bottom: 20px;
  padding: 15px 0px;
  max-width: 100%;
  width: 80% !important;
  background-color: #153670;
  color: white;
  font-weight: bold;
}

.main-content {
  margin-top: 20px;
  height: 100%;
}

.products-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px;
  gap: 10px;
}

.uf-input {
  display: flex;
  width: 80%;
  padding-left: 55px;
  gap: 15px;
}

ion-item {

  color: purple;

}