#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.capacitor-google-map {
  height: 100vh;
}

.header {
  background-color: #0c2650;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.header h1 {
  margin: 0px;
  padding: 5px;
  padding-top: 30px;
  font-size: 12px;
  color: white;
}

.header p {
  margin: 0px;
  padding: 5px;
  font-size: 10px;
  color: white;
}

/* Estilo do card flutuante */
.floating-card {
  position: fixed;
  /* Fixa o elemento na tela */
  bottom: 0;
  /* Alinha a parte inferior do card com a parte inferior da tela */
  width: 100%;
  /* Largura total */
  border-radius: 10px 10px 0 0;
  /* Arredonda somente os cantos superiores */
  z-index: 100;
  /* Garante que fique acima do mapa */
}

/* Conteúdo dentro do card */
.card-content {
  padding: 8px;
  /* Espaçamento interno */
}

.list-item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  color: #666666;
  font-size: 12px;
}

.list-item-header-prod-serv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  color: #666666;
  font-size: 12px;
  height: 100%;
}

.list-item-header p {
  margin: 0;
  text-align: center;
  width: 100%;
}

.list-item-header-prod-serv p {
  margin: 0;
  text-align: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Adicionado para centralizar verticalmente */
  flex-grow: 1;
  width: 100%;
  /* Garantir que ocupe toda a largura */
  padding: 10px 10px 0px 10px;
}

.row select {
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #666;
  background-color: white;
}

/* Estilização da lista de itens no card */
.list-item {
  display: flex;
  align-items: center;
  /* Espaçamento vertical entre os itens */
  border-top: 1px solid #eaeaea;
  /* Linha divisória */
  background-color: white;
  padding: 15px;
  color: #666666;
  font-size: 10px;
  cursor: pointer;
}

.list-item:first-child {
  border-top: none;
  /* Remove a borda do primeiro item */
}

.list-item img {
  width: 50px;
  /* Largura do ícone do posto */
  margin-right: 10px;
  /* Espaço entre o ícone e o texto */
}

.list-item .info {
  flex-grow: 1;
  /* Faz o texto ocupar o espaço restante */
}

.logo-center-circle {
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  margin: -25px 40%;
  position: absolute;
  width: 50px;
  z-index: 101;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.circulo-verde {
  background-color: green;
  color: white;
  padding: 5px;
  font-size: 9px;
  border-radius: 10px;
}

.size-logo-app {
  height: 75%;
  margin-top: 6px;
  width: auto;
}

.curtain-stations {
  transition: all 200ms ease-in-out;
  height: auto;
}

.curtain-services-prods {
  transition: all 200ms ease-in-out;
  height: auto;
}

.arrow-left {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 15px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  cursor: pointer;
}

.logo-previous {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 15px;
  cursor: pointer;
}


.scroll-itens {
  max-height: 300px;
  overflow-y: scroll;
}

.scroll-itens::-webkit-scrollbar {
  width: 10px;
}

.scroll-itens::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 20px;
  border: 1px solid gray;
}

.message-card-stations {
  font-size: 16px;
  font-style: italic;
  color: #8c8c8c;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.scroll-product-list {
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  max-height: 180px;
  padding-right: 10px;
}

.scroll-product-list::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

.scroll-product-list::-webkit-scrollbar-thumb {
  background-color: green;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid gray;
  /* creates padding around scroll thumb */
}

.product-list {
  width: 100%;
  margin-top: 15px;
  border-bottom: 2px rgb(160, 156, 156) solid;
  padding-bottom: 5px;
}

.product-list-content {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 100%;

  >div {
    display: flex;
    justify-items: center;
    gap: 10px;
  }

  >div:nth-child(1) {
    >p {
      font-weight: bold;
      font-size: 14px;
      text-align: left;
    }
  }

  >div:nth-child(2) {
    >p {
      font-size: 16px;
      font-weight: bold;
      text-align: left;

      >span {
        font-size: 10px;
        margin-right: 5px;
      }
    }
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 100%;

  >div:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    display: flex;
    justify-items: end;
    padding-top: 4px;

    >h2 {
      margin: 0px;
      font-size: 16px;
    }
  }

  >div:nth-child(2) {
    display: flex;
    justify-items: center;

    >button {
      padding: 5px 10px;
      border: 2px solid #193e7b;
      border-radius: 50px;
      font-size: 12px;
      transition: all 100ms ease-in-out;
    }

    >button:nth-child(1) {
      transform: translateX(10px);
      color: #274b83;
      font-weight: bold;
      background-color: white;
    }

    >button:nth-child(2) {
      color: white;
      background-color: #274b83;
    }
  }
}

.btn-route {
  position: absolute;
  bottom: 20px;

  >button {
    background-color: #0c2650;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
  }
}