<ion-app>
  <ion-menu contentId="main-content" class="menu">
    <ion-header no-border color="cyprus">
      <ion-toolbar color="cyprus">
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-no-padding">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerLink]="p.url" routerDirection="root">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-item text-center class="menu-footer" color="midnight_blue" no-lines>
        <img src="assets/imgs/Logo_Branca.png" class="menu-img-footer" />
        <br>
        Versão 1.0.0
      </ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
